<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Arkisto</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Arkisto</h1>
        <h3>Täältä löydät kaikki juomat</h3>
        <a href="/index">Takaisin</a>
        <ul>
            <li th:each="drinkki: ${drinkit}">
                <a th:href="@{~/drinkki/{id}(id=${drinkki.id})}">
                    <span th:text="${drinkki.nimi}"></span>
                </a>
                
                <form method="POST" action="/poista">
                    <input type="submit" name="poista" th:value="${drinkki.id}">Poista</input>
                </form>
                
                <form method="POST" th:action="@{~/uusiarvostelu/{id}(id=${drinkki.id})}">
                    <input type="submit" name="arvostelu" th:value="${drinkki.id}">Arvostele</input>
                </form>
            </li>
        </ul>
        <a href="/uusidrinkki">Uusi drinki</a>
    </body>
</html>


