<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Arvostelu</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h2>Arvostelu juomalle</h2>
        <span th:text="${drinkki.nimi}"></span>
        <form method="POST" action="/arvostelu">
            <input type="text" name="teksti"/><br />
            <input type="submit" value="Lähetä"/>
            <input type="number" name="pisteet" min="1" max="100" step="1" value="1"/>
            <input type="hidden" name="id" th:value="${drinkki.id}"/>
        </form>
        
    </body>
</html>