<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Drinkki</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1 th:text='${drinkki.nimi}'></h1>
        Tilavuus: 
        <span th:text='${drinkki.tilavuusRivi}'></span><br />
        Alkoholiprosentti: 
        <span th:text='${drinkki.alkoholiprosenttiRivi}'></span><br />
        Arvostelut: <br />
        <ul>
            <li th:each="arvostelu: ${arvostelut}">
                <span th:text="${arvostelu.teksti}"/><br />
                Pisteet:
                <span th:text="${arvostelu.pisteet}"/>/100
            </li>
            
        </ul>
        <a href="/arkisto">Takaisin</a><br />
        
    </body>
</html>
