<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Drinkki</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Luo uusi drinkki</h1>
        <a href="/arkisto">Takaisin</a>
        <span th:text="${drinkki.nimi}"/>
        <form method="POST" action="drinkki.html">
         
        </form>
        
        <a href ="/raaka-aine">Uusi raaka-aine</a>
    </body>
</html>
