<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Raaka-aine</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Raaka-aineet</h1>
        <h2>Arkisto ja lisäys</h2>
        <a href="/">Takaisin aloitussivulle</a><br />
        <a href="/uusidrinkki">Takaisin drinkin lisäykseen</a><br />
        <a href="/arkisto">Takaisin arkistoon</a>
        
        <h4>Alla lista jo tietokannassa olevista raaka-aineista</h4>
        <ul>
            <li th:each="raakaAine: ${raakaAineet}">
                <span th:text="${raakaAine.nimi}"></span>
                <span th:text="${raakaAine.alkoholiprosentti}">%</span>
                 <form method="POST" action="/raaka-aine/poista">
                        <input type="submit" value="Poista"/>
                        <input type="hidden" name="poista" th:value="${raakaAine.id}"></input>
                    </form>

            </li>
        </ul>

        <h3>Lisää uusi raaka-aine</h3>
        <form method="POST" action="/raaka-aine">
            Nimi:<br/>
            <input type="text" name="nimi"/><br />
            Alkoholiprosentti [0-100]:<br/>
            <input type="number" name="alkoholiprosentti" min="0" max="100" step="0.1" value="0"/>
            <input type="submit" value="Lisää"/>
        </form>     

    </body>
</html>

