<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uusi drinkki</title>
        <link rel="stylesheet" type="text/css" href="uusidrinkkiTyyli.css"/>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Drinkintekokone</h1>
        <h3>Valitse raaka-aineet ja kirjoita ohje ja nimi</h3>
        <a href="/arkisto">Takaisin arkistoon</a><br/>
        <a href="/raaka-aine">Raaka-aineen lisäykseen</a>
        <br/>
        <form method="POST" action="/uusidrinkkiviimeistely">
            
             Nimi: 
             <input type="text" name="nimi" maxlength="30" required="required"/>
            <h4>Raaka-aineet</h4>
            <ul class="lista">
                <li th:each="raakaAine: ${raakaAineet}" class="listanOsa">
                    <span th:text="${raakaAine.nimi}"/>
                    <input type="checkbox" name="id" th:value="${raakaAine.id}"/>                 
                </li>
            </ul>
            Ohje:
            <input type="text" name="ohje" maxlength="100" required="required"/><br />
            <input type="submit" value="Jatka viimeistelyyn"/>
        </form>       
    </body>
</html>

