<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Viimeistele drinkkisi</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1 th:text="${nimi}"></h1>
        <h3>Viimeistele uusi herkullinen drinkkisi</h3>
        RaakaAineet:
        <form method="POST" action="/uusidrinkki">
            <ul>
                <li th:each="raakaAine: ${raakaAineet}">
                    <span th:text="${raakaAine.nimi}"></span>
                    Määrä (ml): 
                    <input type="number" min="1" max="10000" th:name="${raakaAine.id}"/>
                    <input type="hidden" th:value="${raakaAine.id}" name="raakaAineet"/>
                </li>
            </ul>
            <input type ="hidden" name="nimi" th:value="${nimi}"/>
            <input type="hidden" name="ohje" th:value="${ohje}"/>
            <input type="submit" value="Lisää uusi drinkki"/>
            
        </form>
        <br/>
        <a href="/uusidrinkki">Takaisin</a><br/>
    </body>
</html>
